body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.extracurricular {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.extracurricular img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.extracurricular h3 {
    margin: 0;
}

#extracurriculars-list {
    width: 100%;
    max-width: 800px;
}

.extracurricular:hover {
    background-color: #f9f9f9;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #46b8da;
}